header ul {
     background-color: azure;
     
    display: flex;
    list-style:none;
    padding: 0;
}
header  li {
  
    margin-right: 20px;
}
header li:last-child{
    margin-right: 0;
}
html{background-color: rgb(12, 8, 59);
    color: rgb(255, 255, 255);
}
